<div class="banners banners3" style="margin-left:0px; padding:20px">
    <div class="banner">
        <a href="@Url.Action("Documents","Home")" title="Doorema Çelik ve Yangın Kapıları TSE Belgelidir." ref="Doorema Çelik ve Yangın Kapıları TSE Belgelidir.">
            <img style="border-radius:0px 10px 10px 30px" src="~/tse.jpg" alt="Doorema Çelik ve Yangın Kapıları TSE Belgelidir."/>
        </a>
    </div>
</div>