@model List<ReferansTable>

<div class="" style="width:85%;">

    <br />
    <table class="table table-striped" style="margin-left:10%">
        <thead>
            <tr>
                <th>
                    Firma Adı
                </th>
                <th>
                    İlçe
                </th>
                <th>
                    İl
                </th>
            </tr>
        </thead>
        <tbody style="font-weight:700">
            @foreach (var item in Model)
            
            {
                <tr>
                    <td>
                       @item.Company
                    </td>
                    <td>
                       @item.Province
                    </td>
                    <td>
                       @item.District
                    </td>
                </tr>

            }
           

        </tbody>
    </table>
</div>


