@using WebDooreme.Models
@model List<Product>
<div class="module so-extraslider-ltr extra-layout4 cus2" style="border-radius: 30px 30px 30px 30px">
    <div class="form-group col-pre" style="border-radius: 30px 30px 30px 30px ">
        <div class="m-head">
            <h1 style="font-weight:700">Klasik ve Modern Çelik Kapılar</h1>
            <a rel="canonical" class="btn btn-danger" href="/urun/ana-kategori/klasik-ve-modern-celik-kapilar/1" title="Yangın Kapı" ref="Yangın Kapı">Tümünü Gör</a>
        </div>
    </div>
    <div class="modcontent">
        <div class="so-extraslider">
            <div class="yt-content-slider extraslider-inner products-list" data-rtl="yes" data-pagination="no" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="20" data-items_column0="6" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-lazyload="yes" data-loop="no" data-buttonpage="top">

            @*<div class="yt-content-slider extraslider-inner products-list" data-rtl="yes" data-pagination="no" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="5" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-lazyload="yes" data-loop="no" data-buttonpage="top">*@
            @*<div class="yt-content-slider extraslider-inner products-list" data-rtl="yes" data-pagination="no" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="6" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-lazyload="yes" data-loop="no" data-buttonpage="top">*@
                @foreach (var item in Model.Where(x => x.CategoryId == 1).ToList())
                {
                    @await Component.InvokeAsync("ProductDetail", new { stockCode = item.StockCode })
                }
            </div>
        </div>
    </div>
</div>