<div id="map-canvas"></div>
@section scripts{
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB83-aezkAx6nqzPc6zGCplqQoBBQcJVmc&callback=initMap">
    </script>
    <script>
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map-canvas"), {
                center: { lat: 41.03589, lng: 28.92534 },
                zoom: 19,
            });
            google.maps.event.trigger(map, 'resize');
            map.setZoom(map.getZoom());
        }
        window.initMap = initMap;
    </script>
    }