@model List<Category>
<div class="middle2 col-lg-7 col-md-6">
    <div class="search-header-w">
        <div class="icon-search hidden-lg hidden-md hidden-sm"><i class="fa fa-search"></i></div>
        <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
            <form method="post" asp-action="SearchList" asp-controller="Home">
                <div id="search0" class="search input-group form-group">
                    @*<div class="select_category filter_type  icon-select hidden-sm hidden-xs">
                            <select class="no-border" name="category_id">
                                <option value="0">Kategori Göre Ara</option>
                                @foreach (var item in Model)
                                {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            </select>
                        </div>*@
                    <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Arama Yap" id="searchText" name="searchText">
                    <span class="input-group-btn">
                        <button id="submit_search " type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <input type="hidden" name="route" value="product/search" />
            </form>
        </div>
    </div>
</div>